name: build-latex
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Move output
        run: |
          mkdir out
          mv main.pdf out/
      - name: Upload PDF file
        uses: actions/upload-pages-artifact@v3
        id: deployment
        with:
          path: out
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Push to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
